Package: duicontrolpanel-displaylanguageapplet-tests
Source: duicontrolpanel-languageapplet
Version: 0.11.3+0m7
Architecture: armel
Maintainer: Viktor Nagy <viktor.nagy@blumsoft.eu>
Installed-Size: 8788
Depends: libc6 (>= 2.4), libduicontrolpanel, libgcc1 (>= 1:4.1.1), libmeegotouchcore0, libmeegotouchviews0, libqmsystem2, libqt4-dbus (>= 4.7.4~git20120327), libqt4-test (>= 4.7.4~git20120327), libqtcore4 (>= 4.7.4~git20120327), libqtgui4 (>= 4.7.4~git20120327), libstdc++6 (>= 4.4.0), libtimed0 (>= 2.37), duicontrolpanel-displaylanguageapplet (= 0.11.3+0m7), testrunner-lite
Section: misc
Priority: extra
Description: duicontrolpanel-displaylanguageapplet functional and unit tests
 Functional and Unit testing binaries and shellscripts for testing duicontrolpanel display language applet
Aegis-Manifest: included
Maemo-Ci-Packages: duicontrolpanel-displaylanguageapplet
Maemo-Ci-Stage: fast, staging
